.watch_bg {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.watch_bg .watch_bg_img_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.watch_bg .watch_bg_img_container img {
  height: 100%;
  top: 0;
  left: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  filter: saturate(1.2);
}
.watch_bg .watch_bg_img_container .watch_bg_shadow {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, var(--bodybg), var(--bodybgclear30));
}

.watch_block {
  margin-top: 30px;
  position: relative;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
.watch_block .watch_place {
  width: 100%;
  aspect-ratio: 16/9;
}

.watch_logs {
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.players {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.players div {
  color: var(--texthead);
  font-size: 14px;
  font-family: mmedium;
  letter-spacing: 0.5px;
  height: 35px;
  width: 125px;
  border-radius: 5px;
  background-color: var(--black15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: background-color 0.2s;
}
.players div:hover {
  background-color: var(--black20);
}
.players .active_player {
  background-color: var(--main);
  transition: background-color 0.2s;
}
.players .active_player:hover {
  background-color: var(--mainhover);
}

.watch_place {
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  height: 560px;
  aspect-ratio: 16/9;
}

.movie_stats {
  position: relative;
  z-index: 2;
  padding-top: 5px;
  margin-top: 20px;
  font-feature-settings: "case";
}

.movie_info {
  display: flex;
  gap: 25px;
  position: relative;
  z-index: 2;
  margin-top: 30px;
}

.movie_poster {
  height: 400px;
  width: 260px;
  min-width: 260px;
  border-radius: 10px;
  position: relative;
}
.movie_poster img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.movie_card_info {
  width: 100%;
  position: relative;
  font-family: mmedium;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 3;
}
.movie_card_info .movie_card_start {
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.movie_card_info .movie_card_information {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.movie_card_info .movie_card_information .info_card,
.movie_card_info .movie_card_information .info_card_inline {
  border-radius: 5px;
  letter-spacing: 0.5px;
  width: 100%;
  padding: 15px 20px;
  background-color: var(--black15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--texthead);
  font-size: 14px;
  font-feature-settings: "case";
  transition: background-color 0.2s;
}
.movie_card_info .movie_card_information .info_card:hover,
.movie_card_info .movie_card_information .info_card_inline:hover {
  background-color: var(--black20);
}
.movie_card_info .movie_card_information .info_card span,
.movie_card_info .movie_card_information .info_card_inline span {
  font-family: mmedium;
  color: var(--textdesc2);
}
.movie_card_info .movie_card_information .info_card .imdb,
.movie_card_info .movie_card_information .info_card_inline .imdb {
  color: var(--imdb);
}
.movie_card_info .movie_card_information .info_card .row,
.movie_card_info .movie_card_information .info_card_inline .row {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.movie_card_info .movie_card_information .info_card .row_text,
.movie_card_info .movie_card_information .info_card_inline .row_text {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.movie_card_info .movie_card_information .info_card .genre_block,
.movie_card_info .movie_card_information .info_card_inline .genre_block {
  letter-spacing: 1px;
  height: 38px;
  padding: 0px 30px;
  display: inline-flex;
  justify-content: center;
  background-color: var(--black10);
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 2px solid var(--main);
}
.movie_card_info .movie_card_information .info_card .genre_block:hover,
.movie_card_info .movie_card_information .info_card_inline .genre_block:hover {
  background-color: var(--white5);
}
.movie_card_info .movie_card_information .info_card .info_row,
.movie_card_info .movie_card_information .info_card_inline .info_row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  margin: 0 auto;
}
.movie_card_info .movie_card_information .info_card_row {
  display: flex;
  align-items: center;
  gap: 15px;
}
.movie_card_info .movie_card_information .info_card_inline {
  display: inline-flex;
  width: auto;
  min-width: 140px;
}
.movie_card_info .movie_card_information .info_card_inline_description_pc {
  display: flex;
}
.movie_card_info .movie_card_information .info_card_inline_description_mob {
  display: none;
}
.movie_card_info .movie_card_information .info_card_inline_imdb {
  min-width: 90px;
}
.movie_card_info .movie_card_information .info_card_description p {
  font-size: 16px;
  line-height: 26px;
}
.movie_card_info .info_texter {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.movie_card_info .info_texter p {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.movie_card_info .movie_card_subtitle {
  color: var(--textdesc);
  letter-spacing: 1.5px;
  font-family: mmedium;
  font-size: 16px;
}
.movie_card_info .movie_card_title {
  color: var(--texthead);
  letter-spacing: 1px;
  font-size: 24px;
  font-family: mmedium;
  text-transform: uppercase;
  font-feature-settings: "case";
}
.movie_card_info .title_eng {
  font-family: mregular;
  font-weight: 100;
  font-size: 20px;
  color: var(--textdesc);
}
.movie_card_info .movie_card_imdb {
  color: #ffbb00;
  letter-spacing: 1px;
  font-family: mmedium;
  font-size: 14px;
}

.movie_card_genres,
.movie_card_genres_mob {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.movie_card_genres div,
.movie_card_genres_mob div {
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-family: msemibold;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.movie_card_genres div:hover,
.movie_card_genres_mob div:hover {
  background: rgba(0, 0, 0, 0.2);
}
.movie_card_genres div:nth-child(1),
.movie_card_genres_mob div:nth-child(1) {
  color: #d10345;
}
.movie_card_genres div:nth-child(2),
.movie_card_genres_mob div:nth-child(2) {
  color: #ebac00;
}
.movie_card_genres div:nth-child(3),
.movie_card_genres_mob div:nth-child(3) {
  color: #00aad9;
}

.movie_card_genres_mob {
  display: none;
}

.movie_card_addons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie_card_addon,
.movie_card_addon_mob {
  letter-spacing: 0.5px;
  font-family: mregular;
  color: var(--textdesc);
}
.movie_card_addon span,
.movie_card_addon_mob span {
  color: var(--texthead);
}

.movie_card_addon_mob {
  display: none;
}

.movie_actions {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: var(--black25);
}

.movie_action_button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.movie_action_button svg {
  height: 20px;
  aspect-ratio: 1/1;
}
.movie_action_button:hover {
  background: var(--whitelowest);
}

.movie_love {
  margin-left: 5px;
}
.movie_love svg path {
  transition: fill 0.3s;
}

.movie_love_active svg path {
  fill: var(--main);
}

.movie_watchlater svg path {
  transition: fill 0.3s;
}

.movie_watchlater_active {
  fill: var(--main);
}

.movie_l_info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.movie_hearts {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main);
  letter-spacing: 0.5px;
  font-size: 14px;
  font-family: msemibold;
}

.movie_views {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--iconlower);
  letter-spacing: 0.5px;
  font-size: 14px;
  font-family: msemibold;
}

.movie_description {
  margin-top: 30px;
  display: flex;
  font-family: mregular;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 0.5px;
}
.movie_description h3 {
  font-family: mregular;
  font-weight: 400;
  color: var(--texthead);
}
.movie_description p {
  color: var(--textdesc);
}

.movie_comments {
  margin: 50px 0;
}
.movie_comments h3 {
  font-family: mregular;
  font-weight: 400;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  color: var(--texthead);
}

.c_profile {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: mmedium;
  letter-spacing: 0.5px;
}
.c_profile .c_profile_block {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: var(--main);
}
.c_profile .c_profile_name {
  color: var(--texthead);
}
.c_profile .c_profile_badge {
  font-family: mbold;
  padding: 8px 25px;
  border-radius: 10px;
}

.c_form {
  align-items: end;
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 20px;
}

.c_textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 10px;
  padding: 12px 15px;
  outline: none;
  color: var(--texthead);
  background-color: var(--input);
  letter-spacing: 0.5px;
  transition: background-color 0.3s;
  font-family: mmedium;
}
.c_textarea:hover {
  background-color: var(--inputhover);
}
.c_textarea:focus {
  background-color: var(--inputactive);
}

.line {
  height: 2px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--main);
  margin: 30px 0px;
}

.comments_row {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.replying {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--comment);
  border-radius: 10px;
  padding: 15px;
  color: var(--textdesc);
  font-size: 14px;
  font-family: mmedium;
  letter-spacing: 0.5px;
}
.replying p {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.reply_close {
  height: 20px;
  aspect-ratio: 1/1;
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.reply_close svg path {
  transition: fill 0.2s;
  fill: var(--whitelow);
}
.reply_close:hover svg path {
  transition: fill 0.2s;
  fill: var(--white);
}

.comment {
  margin-top: 15px;
  width: 100%;
  background-color: var(--comment);
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 40px;
  position: relative;
}
.comment .comment_start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment .c_last {
  display: flex;
  gap: 10px;
  color: var(--textdesc);
  align-items: center;
  font-family: mmedium;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.comment .c_last span {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  color: var(--main);
  font-family: mbold;
}

.comment_content {
  color: var(--texthead);
  font-family: msemibold;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

.comment_actions {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 15px;
  right: 15px;
}
.comment_actions .comment_love {
  height: 20px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.comment_actions .comment_love svg path {
  transition: fill 0.2s;
}
.comment_actions .comment_love:hover svg path {
  fill: var(--main);
}
.comment_actions .comment_loved svg path {
  fill: var(--main);
}

.reply {
  margin-top: 0px;
  width: 95%;
}

.movie_error_button {
  color: var(--main);
}
.movie_error_button:hover {
  background-color: var(--mainclearhover);
}

.movie_bookmark svg path {
  transition: 0.2s;
}

.hidden_player {
  display: none;
}

.iframe_players {
  height: 100%;
  width: 100%;
}

.player_box {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.player_box iframe {
  height: 100%;
  width: 100%;
}

.adm_in {
  margin-top: 15px;
  border-radius: 10px;
  height: auto;
  width: 100%;
  letter-spacing: 0.5px;
  color: var(--texthead);
}
.adm_in .row {
  margin-top: 15px;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
}
.adm_in .row a {
  display: block;
}
.adm_in .dbts {
  background-color: var(--white5);
}
.adm_in .dbts:hover {
  background-color: var(--white10);
}
.adm_in .dbt {
  color: var(--main);
  background-color: var(--mainclear);
}
.adm_in .dbt:hover {
  background-color: var(--mainclearhover);
}

.movie_poster_respo {
  display: none;
}

@media (max-width: 1200px) {
  .movie_info {
    margin-top: 0px;
  }
  .watch_block {
    padding: 0;
    margin-top: 20px;
  }
  .watch_block .watch_place {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .watch_logs {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .movie_info {
    gap: 12px;
  }
  .movie_actions {
    width: 100%;
    justify-content: end;
  }
  .movie_l_info {
    margin-right: auto;
  }
  .movie_card_info .movie_card_information .info_card_row {
    flex-wrap: wrap;
    gap: 10px;
  }
  .movie_card_info .movie_card_information .info_card_inline {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .video_players {
    border-radius: 0px;
  }
  .watch_bg img {
    filter: brightness(0.6);
  }
  .watch_bg {
    width: 100%;
    height: auto;
    aspect-ratio: 16/16;
    border-radius: 0px;
  }
  .watch_block .watch_place {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 0px;
  }
  .comment .c_last {
    gap: 6px;
    font-size: 12px;
  }
  .comment .c_last span {
    font-size: 12px;
  }
  .comment .c_last span svg {
    height: 12px;
    aspect-ratio: 1/1;
  }
  .comment .comment_content {
    font-size: 14px;
  }
  .c_profile {
    gap: 8px;
  }
  .c_profile .c_profile_block {
    height: 30px;
  }
  .c_profile .c_profile_block svg {
    height: 18px;
  }
  .c_profile .c_profile_badge {
    font-family: mmedium;
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 6px;
  }
  .c_profile_name {
    font-size: 14px;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .watch_logs {
    padding: 0 10px;
  }
  .movie_poster {
    min-width: 200px;
    width: 200px;
    height: 280px;
  }
  .movie_card_addon,
  .movie_card_addon_mob {
    letter-spacing: 0.5px;
    font-family: mregular;
    font-size: 14px;
    color: var(--textdesc);
  }
  .movie_card_info {
    width: auto;
  }
  .movie_card_info .movie_card_genres {
    flex-wrap: wrap;
  }
  .movie_card_info .movie_card_subtitle {
    letter-spacing: 0.5px;
    font-family: mmedium;
    font-weight: 400;
    font-size: 14px;
  }
  .movie_card_info .movie_card_title {
    letter-spacing: 1px;
    font-size: 18px;
  }
  .movie_card_info .movie_card_imdb {
    color: #ffbb00;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .movie_card_addons {
    margin-top: 15px;
  }
  .movie_description h3 {
    font-size: 16px;
    font-family: mregular;
    font-weight: 400;
  }
  .movie_description p {
    font-size: 14px;
    font-family: mregular;
    line-height: 24px;
  }
  .movie_comments h3 {
    font-size: 16px;
    font-family: mregular;
    font-weight: 400;
  }
  .movie_card_genres {
    display: none;
  }
  .movie_card_genres_mob {
    display: flex;
    gap: 5px;
    margin: 10px 0;
  }
  .movie_card_genres_mob span {
    letter-spacing: 0.5px;
    font-family: mregular;
    font-size: 14px;
    color: var(--texthead);
  }
  .movie_card_genres_mob div:nth-child(2) {
    color: #d10345;
  }
  .movie_card_genres_mob div:nth-child(3) {
    color: #ebac00;
  }
  .movie_card_genres_mob div:nth-child(4) {
    color: #00aad9;
  }
}
@media (max-width: 560px) {
  .movie_poster {
    display: none;
  }
  .watch_bg {
    aspect-ratio: 16/18;
  }
  .movie_l_info {
    margin-right: auto;
  }
  .movie_action_button {
    height: 32px;
  }
  .movie_action_button svg {
    height: 18px;
    aspect-ratio: 1/1;
  }
  .movie_card_addons {
    margin-top: 15px;
    gap: 6px;
  }
  .movie_card_addon_mob {
    margin-top: 20px;
    display: block;
  }
  .for_pc {
    display: none;
  }
  .movie_poster {
    width: 120px;
    min-width: 120px;
    height: 200px;
  }
  .players {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
  }
  .players div {
    font-size: 12px;
    width: 110px;
  }
  .movie_actions {
    flex-wrap: wrap-reverse;
    gap: 10px;
  }
  .comment .comment_start {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
@media (max-width: 480px) {
  .movie_card_info .movie_card_information .info_card_inline_description_pc {
    display: none;
  }
  .movie_card_info .movie_card_information .info_card_inline_description_mob {
    display: flex;
  }
  .movie_stats {
    margin-top: 5px;
  }
  .watch_block {
    margin-top: 0px;
  }
  .watch_block .watch_place {
    aspect-ratio: 16/10;
  }
  .movie_card_info .movie_card_information .info_card_inline {
    flex: unset;
    width: 100%;
  }
  .info_card_respo {
    display: flex;
    gap: 10px;
  }
  .movie_poster_respo {
    display: block;
    width: auto;
    border-radius: 8px;
    max-width: 160px;
    max-height: 220px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
  }
  .movie_poster_respo img {
    height: 100%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .movie_card_info .movie_card_title {
    font-size: 16px;
  }
  .movie_card_info .movie_card_title.title_eng {
    font-size: 14px;
  }
  .movie_card_info .info_texter p {
    font-size: 14px;
  }
  .movie_card_info .movie_card_information .info_card_inline span {
    font-size: 12px;
  }
  .movie_card_info .movie_card_information .info_card {
    font-size: 12px;
  }
  .movie_card_info .movie_card_information .info_card p {
    font-size: 14px;
  }
  .movie_card_info .movie_card_information .info_card .genre_block {
    padding: 0 15px;
    height: 36px;
    font-size: 13px;
  }
}
@media (max-width: 450px) {
  .watch_bg {
    aspect-ratio: 16/20;
  }
}
@media (max-width: 350px) {
  .movie_card_info .movie_card_title {
    font-size: 14px;
  }
  .movie_card_info .movie_card_title.title_eng {
    font-size: 12px;
  }
}/*# sourceMappingURL=watch.css.map */