.searchform {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 10px;
  margin-top: 50px;
  .searchinput {
    height: 40px;
    width: 100%;
    background-color: var(--input);
    color: var(--texthead);
    padding: 0 15px;
    transition: background-color 0.3s;
    border-radius: 10px;
    letter-spacing: 0.5px;
    &:hover {
      background-color: var(--inputhover);
    }
    &:focus {
      background-color: var(--inputactive);
    }
  }
  .searchbutton {
    height: 40px;
    aspect-ratio: 1/1;
    background-color: var(--main);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--mainhover);
    }
  }
  .filtershowbutton {
    height: 40px;
    width: 150px;
    min-width: 150px;
    letter-spacing: 0.5px;

    color: var(--whitelow);
    cursor: pointer;
    background-color: var(--input);
    transition: background-color 0.3s;
    border-radius: 10px;
    &:hover {
      background-color: var(--inputhover);
    }
  }
}
.founded {
  margin-top: 40px;
  padding: 0 10px;
  letter-spacing: 1px;
  font-family: mmedium;
  color: var(--whitelow);
}
.cardrows {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.filter_container {
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s;
  &.filter_container_show {
    opacity: 1;
    visibility: visible;
  }
  .filter_shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .filter_block_c {
    position: relative;
    z-index: 2;
    height: 600px;
    max-height: 600px;
    width: 500px;
    overflow: hidden;
    border-radius: 15px;
    .filter_block {
      width: 100%;
      height: 540px;
      max-height: 540px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: var(--bodybg);
      padding: 20px;

      h2 {
        color: var(--texthead);
        letter-spacing: 0.5px;
        font-size: 16px;
      }
    }
  }
}
.close_filters {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  transition: background-color 0.2s;
  background-color: var(--input);
  cursor: pointer;
  &:hover {
    background-color: var(--inputhover);
  }
}
.type_button,
.genre_button {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: var(--secondcolor);
  transition: 0.2s;
  color: var(--buttoncolor);
  cursor: pointer;
  &:hover {
    background-color: var(--secondcolorhover);
  }
  &.genre_active,
  &.type_active {
    color: var(--texthead);
    background-color: var(--buttoncolor);
  }
}

.filters_rower {
  display: flex;
  gap: 15px;
  padding: 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.filter_inp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: mmedium;
  color: var(--textdesc);
  margin-top: 15px;
  input {
    width: 100px;
    color: var(--texthead);
    border-radius: 10px;
    padding: 0 10px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: msemibold;

    height: 40px;
    background-color: var(--input);
  }
}
.filter_confirm_block {
  position: absolute;
  width: 100%;
  background-color: var(--bodybg);
  left: 0;
  padding: 10px;
  z-index: 2;
  height: 60px;
  display: flex;
  gap: 15px;
  justify-content: end;
  bottom: 0;
}
.select_block {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-height: 200px;
  background-color: var(--secondcolor);
  input {
    background-color: var(--input);
    height: 40px;
    min-height: 40px;
    width: 100%;
    padding: 0px 10px;
    color: var(--texthead);
  }
  .select_row {
    height: auto;
    max-height: 100%;
    min-height: 50px;
    overflow-y: auto;
  }
}
