.mg_card {
  position: relative;
}
.mg_card .mg_img_side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 360px;
  width: 240px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mg_card .mg_img_side .mg_card_description {
  position: absolute;
  width: 100%;
  max-height: 100%;
  background-color: #212121;
  left: calc(100% + 10px);
  top: 0;
  border-radius: 10px;
  padding: 15px;
  transition: visibility 0.1s, opacity 0.6s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
}
.mg_card .mg_img_side .mg_card_description h3 {
  color: rgba(255, 255, 255, 0.9);
  font-family: msemibold;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.mg_card .mg_img_side .mg_card_description p,
.mg_card .mg_img_side .mg_card_description .mg_card_description_p {
  color: rgba(255, 255, 255, 0.6);
  font-family: mmedium;
  letter-spacing: 0.5px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
.mg_card .mg_img_side .mg_card_description p {
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.mg_card .mg_img_side .mg_card_description p span {
  color: rgba(255, 255, 255, 0.9);
}
.mg_card .mg_img_side img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: filter 0.2s;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.mg_card .mg_img_side .mg_card_play {
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s;
}
.mg_card .mg_img_side .mg_card_play svg {
  height: 70px;
}
.mg_card .mg_img_side .mg_card_play svg path {
  fill: var(--main);
}
.mg_card .mg_img_side:hover .mg_card_description {
  visibility: visible;
  opacity: 1;
}
.mg_card .mg_img_side:hover .mg_card_play {
  opacity: 1;
}
.mg_card .mg_img_side:hover img {
  filter: brightness(0.8);
}
.mg_card .mg_img_side .mg_card_shadow {
  border-radius: 10px;
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}
.mg_card .mg_img_side .mg_card_bookmark {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background-color 0.3s;
}
.mg_card .mg_img_side .mg_card_bookmark svg path {
  transition: fill 0.3s;
}
.mg_card .mg_img_side .mg_card_bookmark:hover {
  background: rgba(0, 0, 0, 0.5);
}
.mg_card .mg_img_side .mg_card_bookmark.mg_card_bookmark_active svg path {
  fill: var(--main);
}
.mg_card .mg_img_side .mg_card_type,
.mg_card .mg_img_side .mg_card_year {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  height: 24px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  background-color: var(--main);
  color: white;
  font-size: 12px;
}
.mg_card .mg_img_side .mg_card_type {
  left: 10px;
  width: 85px;
}
.mg_card .mg_img_side .mg_card_year {
  right: 10px;
  width: 65px;
}
.mg_card .mg_card_info {
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 5px;
  margin-top: 10px;
}
.mg_card .mg_card_info div {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-family: mmedium;
  color: rgba(255, 255, 255, 0.8);
}
.mg_card .mg_card_info .mg_card_imdb {
  font-size: 13px;
  font-family: mbold;
  color: var(--main);
}/*# sourceMappingURL=card.css.map */