html,
:host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}
img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

input,
button {
  outline: none;
  border: none;
}
body {
  overflow-x: hidden;
}
a {
  user-select: none;
  color: inherit;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}
button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}
@font-face {
  font-family: mbold;
  src: url("../fonts/OnService-Bold.ttf");
}
@font-face {
  font-family: mmedium;
  src: url("../fonts/OnService-Medium.ttf");
}
@font-face {
  font-family: mregular;
  src: url("../fonts/OnService-Regular.ttf");
}
@font-face {
  font-family: msemibold;
  src: url("../fonts/OnService-SemiBold.ttf");
}
body {
  color: white;
  font-family: mregular;
}
.no-scroll {
  overflow: hidden;
  touch-action: none;
  height: 100vh;
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--secondcolor);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--main);
}
.mg_web_loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: var(--bodybg);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.mg_web_loader_hidden {
  opacity: 0;
  visibility: hidden;
}
.mg_web_loader svg path {
  transition: 0.3s;
}

.popcorn_container {
  position: relative;
  width: 60px;
  height: 60px;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
}

.popcorn_container svg {
  animation: shake 1.5s infinite ease-in-out;
}

.cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1520px;
  }
}
