.mg_card {
  position: relative;
  font-feature-settings: "case";
}
.mg_card .mg_img_side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 360px;
  width: 240px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mg_card .mg_img_side img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  transition: filter 0.2s;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.mg_card .mg_img_side:hover img {
  filter: brightness(0.8);
}
.mg_card .mg_img_side .mg_card_shadow {
  border-radius: 10px;
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.mg_card .mg_img_side .mg_card_type,
.mg_card .mg_img_side .mg_card_year,
.mg_card .mg_img_side .mg_card_imdb {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  height: 26px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.9);
  font-family: mmedium;
  font-size: 12px;
}
.mg_card .mg_img_side .mg_card_type {
  left: 10px;
  width: 85px;
}
.mg_card .mg_img_side .mg_card_year {
  right: 10px;
  width: 65px;
}
.mg_card .mg_img_side .mg_card_imdb {
  background-color: rgba(0, 0, 0, 0.5);
  top: 10px;
  left: 10px;
  width: 85px;
  color: var(--imdb);
  border-color: var(--imdb);
  border: 1px solid var(--imdb);
}
.mg_card .mg_card_info {
  gap: 2px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 5px;
  margin-top: 10px;
}
.mg_card .mg_card_info .mg_card_info_f {
  gap: 2px;
  display: flex;
  flex-direction: column;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mg_card .mg_card_info .mg_card_bookmark {
  flex-shrink: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mg_card .mg_card_info .mg_card_bookmark svg path {
  transition: 0.2s;
}
.mg_card .mg_card_info .mg_card_bookmark:hover {
  background: var(--whitelowest);
}
.mg_card .mg_card_info .card_info_text {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-family: mmedium;
  color: var(--texthead);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.mg_card .mg_card_info .card_info_text:nth-child(2) {
  color: var(--textdesc);
}
.mg_card .mg_card_info .mg_card_imdb {
  font-size: 13px;
  font-family: mbold;
  color: var(--main);
}

.mg_card_loader {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--inputnav);
}

.mg_card_description_p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 9;
  text-overflow: ellipsis;
}

.mg_card:hover .mg_info_grab {
  visibility: visible;
  opacity: 1;
}

.mg_info_grab {
  top: 0;
  left: 0;
  padding: 15px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: visibility 0.3s, opacity 0.3s, -webkit-backdrop-filter 0.3s;
  transition: backdrop-filter 0.3s, visibility 0.3s, opacity 0.3s;
  transition: backdrop-filter 0.3s, visibility 0.3s, opacity 0.3s, -webkit-backdrop-filter 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
}
.mg_info_grab h3 {
  display: inline-block;
  color: var(--texthead);
  font-family: mmedium;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
}
.mg_info_grab h3 span {
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-top: 5px;
  font-size: 14px;
}
.mg_info_grab p,
.mg_info_grab .mg_card_description_p {
  color: var(--textdesc);
  font-family: mmedium;
  letter-spacing: 0.5px;
  overflow: hidden;
  font-weight: 400;
}
.mg_info_grab p {
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
.mg_info_grab p span {
  font-size: 15px;
  color: var(--texthead);
}

.mg_card_description_active {
  visibility: visible;
  opacity: 1;
}

.bookmarked svg path {
  fill: var(--main);
  stroke: var(--main);
}

.mg_card_wide .mg_img_side {
  display: flex;
}

.mg_card_wide {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}
.mg_card_wide:hover .mg_card_shadow {
  opacity: 0.9;
}
.mg_card_wide .mg_img_side {
  height: 200px;
  width: 400px;
}
.mg_card_wide .mg_img_side img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11px;
  height: 100%;
  width: 100%;
}
.mg_card_wide .mg_card_shadow {
  border-radius: 10px;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}
.mg_card_wide .mg_card_bookmark {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer;
  transition: background-color 0.3s;
}
.mg_card_wide .mg_card_bookmark svg path {
  transition: 0.2s;
}
.mg_card_wide .mg_card_bookmark:hover {
  background: rgba(0, 0, 0, 0.5);
}
.mg_card_wide .mg_card_bookmark.mg_card_bookmark_active svg path {
  fill: var(--main);
}
.mg_card_wide .mg_card_info {
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 12px;
  padding: 0px 15px;
  letter-spacing: 0.5px;
  color: var(--textdesc);
}
.mg_card_wide .mg_card_info .starter {
  display: flex;
  flex-direction: column;
  gap: 2px;
  letter-spacing: 1px;
  color: var(--texthead);
  font-family: mmedium;
}
.mg_card_wide .mg_card_info .starter div {
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: block;
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mg_card_wide .mg_card_info .starter div:nth-child(2) {
  color: var(--textdesc);
}
.mg_card_wide .mg_card_info .laster .mg_card_imdb {
  font-size: 13px;
  font-family: mbold;
  color: var(--main);
}

.mg_search_card {
  font-feature-settings: "case";
}
.mg_search_card .mg_img_side {
  cursor: pointer;
  position: relative;
  width: 390px;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.mg_search_card .mg_img_side img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mg_search_card .mg_img_side .mg_card_shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  z-index: 1;
  transition: background-color 0.4s, -webkit-backdrop-filter 0.4s;
  transition: background-color 0.4s, backdrop-filter 0.4s;
  transition: background-color 0.4s, backdrop-filter 0.4s, -webkit-backdrop-filter 0.4s;
}
.mg_search_card .mg_img_side .mg_card_shadow svg {
  transition: opacity 0.4s;
  opacity: 0;
  height: 32px;
}
.mg_search_card .mg_img_side .mg_card_shadow:hover {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.mg_search_card .mg_img_side .mg_card_shadow:hover svg {
  opacity: 1;
}
.mg_search_card .mg_img_side .mg_card_type,
.mg_search_card .mg_img_side .mg_card_year,
.mg_search_card .mg_img_side .mg_card_imdb {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  height: 24px;
  letter-spacing: 0.4px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.9);
  font-family: mmedium;
  font-size: 11px;
}
.mg_search_card .mg_img_side .mg_card_type {
  left: 5px;
  width: 80px;
}
.mg_search_card .mg_img_side .mg_card_year {
  right: 5px;
  width: 65px;
}
.mg_search_card .mg_img_side .mg_card_imdb {
  background-color: rgba(0, 0, 0, 0.5);
  top: 5px;
  left: 5px;
  width: 85px;
  color: var(--imdb);
  border-color: var(--imdb);
  border: 1px solid var(--imdb);
}
.mg_search_card .mg_card_info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.mg_search_card .mg_card_info_f {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  max-width: calc(100% - 40px);
}
.mg_search_card .mg_card_info_f a {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: start;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mg_search_card .card_info_text {
  letter-spacing: 0.4px;
  font-size: 14px;
  font-family: mmedium;
  color: var(--texthead);
}
.mg_search_card .card_info_text:nth-child(2) {
  color: var(--textdesc);
  font-size: 14px;
}
.mg_search_card .mg_card_bookmark {
  flex-shrink: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mg_search_card .mg_card_bookmark svg path {
  transition: 0.2s;
}
.mg_search_card .mg_card_bookmark:hover {
  background: var(--whitelowest);
}

@media (max-width: 800px) {
  .mg_card_description {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .mg_search_card {
    width: 100%;
  }
  .mg_search_card .mg_img_side {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .mg_search_card .mg_img_side .mg_card_type,
  .mg_search_card .mg_img_side .mg_card_year,
  .mg_search_card .mg_img_side .mg_card_imdb {
    font-size: 11px;
  }
  .mg_search_card .mg_img_side .mg_card_type {
    bottom: 5px;
    left: 5px;
  }
  .mg_search_card .mg_img_side .mg_card_year {
    bottom: 5px;
    right: 5px;
  }
  .mg_search_card .mg_img_side .mg_card_imdb {
    top: 5px;
    left: 5px;
  }
  .mg_search_card .card_info_text {
    font-size: 14px;
  }
  .mg_search_card .card_info_text:nth-child(2) {
    font-size: 13px;
  }
  .mg_card .mg_img_side {
    height: 280px;
    width: 180px;
    border-radius: 4px;
  }
  .mg_card .mg_img_side img {
    border-radius: 4px;
  }
  .mg_card .mg_img_side .mg_card_shadow {
    border-radius: 3px;
  }
  .mg_card .mg_img_side .mg_card_type,
  .mg_card .mg_img_side .mg_card_year,
  .mg_card .mg_img_side .mg_card_imdb {
    width: auto;
    padding: 0 8px;
    font-size: 11px;
  }
  .mg_card .mg_img_side .mg_card_imdb {
    left: 5px;
    top: 5px;
  }
  .mg_card .mg_img_side .mg_card_year {
    right: 5px;
    bottom: 5px;
  }
  .mg_card .mg_img_side .mg_card_type {
    left: 5px;
    bottom: 5px;
  }
  .mg_card .mg_card_info .card_info_text {
    font-size: 14px;
  }
  .mg_card .mg_card_info .mg_card_info_f {
    width: 130px;
  }
  .mg_card_wide .mg_img_side {
    height: 160px;
    width: 280px;
  }
  .mg_card_wide .mg_card_info .starter {
    font-size: 14px;
    font-family: mmedium;
  }
  .mg_card_wide .mg_card_info .laster .mg_card_imdb {
    letter-spacing: 0.5px;
  }
  .mg_card_wide .mg_card_bookmark {
    top: 5px;
    right: 5px;
  }
}/*# sourceMappingURL=card.css.map */