.mg_card {
  position: relative;
  .mg_img_side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 360px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;

    cursor: pointer;
    user-select: none;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      transition: filter 0.2s;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    .mg_card_play {
      position: absolute;
      z-index: 3;
      opacity: 0;
      transition: opacity 0.2s;

      svg {
        height: 70px;
        path {
          fill: var(--main);
        }
      }
    }
    &:hover {
      .mg_card_play {
        opacity: 1;
      }
      img {
        filter: brightness(0.8);
      }
    }
    .mg_card_shadow {
      border-radius: 10px;
      z-index: 2;
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.1)
      );
    }
    .mg_card_bookmark {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      aspect-ratio: 1 / 1;
      border-radius: 8px;
      backdrop-filter: blur(10px);
      cursor: pointer;
      transition: background-color 0.3s;
      svg path {
        transition: fill 0.3s;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }

      &.mg_card_bookmark_active {
        svg path {
          fill: var(--main);
        }
      }
    }
    .mg_card_type,
    .mg_card_year {
      z-index: 2;
      position: absolute;
      bottom: 10px;
      height: 24px;
      letter-spacing: 0.4px;
      border-radius: 5px;
      background-color: var(--main);
      color: white;
      font-size: 12px;
    }
    .mg_card_type {
      left: 10px;
      width: 85px;
    }
    .mg_card_year {
      right: 10px;
      width: 65px;
    }
  }
  .mg_card_info {
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5px;
    margin-top: 10px;
    div {
      display: flex;
      align-items: center;
      font-size: 16px;
      letter-spacing: 0.8px;
      font-weight: 400;
      font-family: mmedium;
      color: var(--texthead);
    }
    .mg_card_imdb {
      font-size: 13px;
      font-family: mbold;

      color: var(--main);
    }
  }
}
.mg_info_grab {
  display: none;
}

.mg_card_description {
  pointer-events: none;
  position: fixed;
  z-index: 6;
  width: 280px;
  height: 270px;
  background-color: #212121;
  left: 0;
  top: 0;
  border-radius: 10px;
  padding: 15px;
  transition: visibility 0.1s, opacity 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0;

  h3 {
    color: var(--texthead);
    font-family: msemibold;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  p,
  .mg_card_description_p {
    color: var(--textdesc);
    font-family: mmedium;
    letter-spacing: 0.5px;
    font-size: 14px;
    overflow: hidden;
    font-weight: 400;
  }
  p {
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    span {
      color: var(--texthead);
    }
  }
}
.mg_card_description_active {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 800px) {
  .mg_card_description {
    display: none !important;
  }
}
