.mg_cardslider,
.mg_cardslider_wide {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 70px 0;
}

.mg_cardslider_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  .mg_cardslider_start {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--texthead);
    font-size: 18px;
    letter-spacing: 1px;
    div {
      height: 36px;
      aspect-ratio: 1 / 1;
      border-radius: 8px;
      background-color: var(--main);
    }
  }
  .mg_cardslider_end {
    user-select: none;
    gap: 5px;
    display: flex;
    align-items: center;
    .mg_cardslider_button {
      cursor: pointer;
      height: 25px;
      aspect-ratio: 1/ 1;
    }
  }
}
.mg_cardslider_row {
  user-select: none;
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}
.mg_cardslider_wide_row {
  gap: 10px;
}
.mg_cardslider_row::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .mg_cardslider_row {
    gap: 10px;
  }
}
