.mg_cardslider,
.mg_cardslider_wide {
  font-feature-settings: "case";
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 70px 0;
}

.mg_cardslider_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  .mg_cardslider_start {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--texthead);
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 6px;
    &::before {
      position: absolute;
      content: "";
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background-color: var(--main);
      bottom: 0;
      left: 0;
    }
  }
  .mg_cardslider_end {
    user-select: none;
    gap: 5px;
    display: flex;
    align-items: center;
    .mg_cardslider_button {
      cursor: pointer;
      height: 25px;
      aspect-ratio: 1/ 1;
    }
  }
}
.mg_cardslider_row {
  user-select: none;
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 10px;
}
.mg_cardslider_wide_row {
  gap: 10px;
}
.mg_cardslider_row::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .mg_cardslider_row {
    gap: 10px;
  }
  .mg_cardslider_info {
    .mg_cardslider_start {
      gap: 8px;
      font-size: 16px;
      font-family: mmedium;
      div {
        height: 32px;
        border-radius: 6px;
        svg {
          height: 16px;
          aspect-ratio: 1/1;
        }
      }
    }
    .mg_cardslider_end {
      .mg_cardslider_button {
        height: 20px;
        aspect-ratio: 1/1;
        svg {
          height: 14px;
        }
      }
    }
  }
}
