.mg_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/4;
  max-height: 500px;
  .mg_slider_shadow {
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to top,
      var(--bodybg),
      var(--bodybgclear40),
      transparent
    );
  }
  .mg_slider_shadow_side {
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      var(--bodybg),
      var(--bodybgclear40),
      transparent
    );
  }
  .mg_slider_row {
    display: flex;
    justify-content: start;
    height: 100%;
    min-width: 100%;
  }
  .mg_slider_card {
    display: flex;
    align-items: center;
    position: absolute;
    flex-shrink: 0;
    z-index: 1;
    height: 100%;
    min-width: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.6s;
  }
  .mg_slider_card_active {
    visibility: visible;
    opacity: 1;
  }
  .mg_slider_img {
    object-position: 0px center;
    top: 0;
    left: 0;
    object-fit: cover;
    user-select: none;

    height: 100%;
    width: 100%;
  }
}
.mg_slider_indicators {
  display: flex;
  position: absolute;
  z-index: 5;
  align-items: center;
  bottom: 30px;
  right: 40px;
  gap: 8px;
  div {
    height: 10px;
    border-radius: 3px;
    aspect-ratio: 1/ 1;
    background-color: rgba(72, 72, 72, 0.2);
    transition: background-color 0.2s;
    cursor: pointer;
    &:active {
      background-color: rgba(96, 96, 96, 0.6);
    }
  }
  .mg_slider_indicator_active {
    background-color: var(--main);
    &:hover {
      background-color: var(--main);
    }
  }
}

.mg_cardslider_starter {
  margin-top: 0;
}

.mg_slider_info {
  padding-top: 70px;

  font-feature-settings: "case";
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  gap: 4px;
  display: flex;
  flex-direction: column;

  .slider_card_start {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    border-radius: 10px;
  }
  .slider_card_addons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }
  .s_year,
  .s_type,
  .s_imdb {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 1px;
    height: 26px;
    padding: 0 15px;
    color: var(--texthead);
    border: 2px solid var(--texthead);
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0.8;
    font-family: msemibold;
  }
  .s_imdb {
    color: var(--imdb);
    border-color: var(--imdb);
  }
  .slider_card_title {
    margin-bottom: 2px;

    color: var(--purewhite);
    letter-spacing: 1px;
    font-size: 20px;
    font-family: mmedium;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .s_title_eng {
    color: var(--textdesc);
    margin-bottom: 15px;
    font-family: mregular;
    font-weight: 300;
  }
  .slider_card_description {
    color: var(--textdeschigh);
    letter-spacing: 1px;
    font-size: 15px;
    font-family: mmedium;
    line-height: 24px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .mg_slider_actions {
    z-index: 3;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    .mg_slider_icon {
      background: var(--black30);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 14px;
      aspect-ratio: 1 / 1;
      border-radius: 50px;

      cursor: pointer;
      transition: background-color 0.3s;

      svg {
        height: 18px;
        aspect-ratio: 1/1;
      }
      &:hover {
        background: var(--black35);
      }
    }
    .mg_slider_bookmark {
      backdrop-filter: blur(4px);

      svg path {
        transition: 0.3s;
      }
    }
    .mg_slider_play {
      background-color: var(--main);
      gap: 10px;
      font-family: mmedium;
      font-weight: 500;
      border-radius: 50px;
      letter-spacing: 1px;
      width: 200px;
      aspect-ratio: unset;

      &:hover {
        background-color: var(--mainhover);
      }
    }
  }
}
@media (max-width: 1540px) {
  .mg_slider {
    aspect-ratio: 16/5;
  }
}
@media (max-width: 1200px) {
  .mg_slider {
    aspect-ratio: 16/4.5;
  }
  .mg_slider_info {
    top: 20px;
    padding-top: 60px;

    .slider_card_start {
      width: 100%;
      max-width: unset;
    }
    .slider_card_description {
      display: none;
    }
    .slider_card_title {
      font-size: 16px;
    }
    .mg_slider_actions {
      display: none;
    }
    .slider_card_addons {
      gap: 6px;
    }
    .s_year,
    .s_type,
    .s_imdb {
      font-size: 11px;
      letter-spacing: 0.5px;
      height: 24px;
      padding: 0 10px;
      border-width: 1px;
    }
  }
  .mg_slider_indicators {
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 992px) {
  .mg_slider {
    aspect-ratio: 16/5;
  }
  .mg_slider_left,
  .mg_slider_right {
    display: none;
  }
}
@media (max-width: 768px) {
  .mg_slider {
    aspect-ratio: 16/6;
    min-height: 200px;
  }
  .mg_slider_info {
    top: 15px;
    width: 100%;
    padding-top: 55px;
  }
  .mg_slider_indicators {
    gap: 6px;
    bottom: 15px;
    right: 15px;
    div {
      height: 8px;
    }
  }
  .mg_slider_info {
    .slider_card_title {
      font-size: 14px;
    }
    .s_year,
    .s_type,
    .s_imdb {
      font-size: 10px;
      letter-spacing: 0.5px;
      height: 22px;
      padding: 0 8px;
      border-width: 1px;
    }
  }
}
