.mg_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  width: 100%;
  height: 500px;
}
.mg_slider .mg_slider_shadow {
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, var(--bodybg), var(--bodybgclear));
}
.mg_slider .mg_slider_row {
  display: flex;
  justify-content: start;
  height: 100%;
  min-width: 100%;
}
.mg_slider .mg_slider_card {
  position: absolute;
  flex-shrink: 0;
  z-index: 1;
  height: 100%;
  min-width: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.6s;
}
.mg_slider .mg_slider_card_active {
  visibility: visible;
  opacity: 1;
}
.mg_slider .mg_slider_img {
  -o-object-position: 0px center;
     object-position: 0px center;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
  width: 100%;
}

.mg_slider_indicators {
  display: flex;
  position: absolute;
  z-index: 5;
  bottom: 15px;
  align-items: center;
  gap: 8px;
}
.mg_slider_indicators div {
  height: 10px;
  border-radius: 3px;
  aspect-ratio: 1/1;
  background-color: rgba(72, 72, 72, 0.2);
  transition: background-color 0.2s;
  cursor: pointer;
}
.mg_slider_indicators div:active {
  background-color: rgba(96, 96, 96, 0.6);
}
.mg_slider_indicators .mg_slider_indicator_active {
  background-color: var(--main);
}
.mg_slider_indicators .mg_slider_indicator_active:hover {
  background-color: var(--main);
}

.mg_slider_actions {
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  right: 60px;
}
.mg_slider_actions .mg_slider_icon {
  background: rgba(28, 28, 28, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  cursor: pointer;
  transition: background-color 0.3s;
}
.mg_slider_actions .mg_slider_icon svg {
  height: 20px;
  aspect-ratio: 1/1;
}
.mg_slider_actions .mg_slider_icon:hover {
  background: rgba(28, 28, 28, 0.8);
}
.mg_slider_actions .mg_slider_bookmark svg path {
  transition: 0.3s;
}
.mg_slider_actions .mg_slider_watchlater svg path {
  transition: fill 0.3s;
}
.mg_slider_actions .mg_slider_love_active svg path {
  fill: var(--main);
}
.mg_slider_actions .mg_slider_watchlater_active svg path {
  fill: var(--main);
}

.mg_slider_info {
  position: absolute;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  bottom: 50px;
  left: 60px;
  z-index: 4;
}
.mg_slider_info .mg_slider_subtitle {
  color: var(--textdesc);
  letter-spacing: 1.5px;
  font-family: mmedium;
  font-size: 16px;
}
.mg_slider_info .mg_slider_title {
  color: var(--texthead);
  letter-spacing: 2px;
  font-size: 24px;
  font-family: msemibold;
}
.mg_slider_info .mg_slider_imdb {
  color: #ffbb00;
  letter-spacing: 1px;
  font-family: mmedium;
  font-size: 14px;
}
.mg_slider_info .mg_slider_genres {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.mg_slider_info .mg_slider_genres div {
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-family: msemibold;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.mg_slider_info .mg_slider_genres div:hover {
  background: rgba(0, 0, 0, 0.2);
}
.mg_slider_info .mg_slider_genres div:nth-child(1) {
  color: #d10345;
}
.mg_slider_info .mg_slider_genres div:nth-child(2) {
  color: #ebac00;
}
.mg_slider_info .mg_slider_genres div:nth-child(3) {
  color: #00aad9;
}

.mg_slider_left,
.mg_slider_right {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100px;
  width: 150px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mg_slider_left .span_block,
.mg_slider_right .span_block {
  will-change: opacity;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.mg_slider_left:hover .span_block,
.mg_slider_right:hover .span_block {
  opacity: 0.95;
}
.mg_slider_left span,
.mg_slider_right span {
  position: absolute;
  height: 60px;
  width: 3px;
  background-color: #ffffff;
}

.mg_slider_left {
  left: 0;
}

.mg_slider_right {
  right: 0;
  transform: rotate(180deg) translateY(50%);
}

@media (max-width: 1200px) {
  .mg_slider {
    height: 400px;
  }
  .mg_slider .mg_slider_img {
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
  }
  .mg_slider .mg_slider_info {
    bottom: 30px;
  }
  .mg_slider .mg_slider_actions {
    bottom: 30px;
  }
}
@media (max-width: 992px) {
  .mg_slider_left,
  .mg_slider_right {
    display: none;
  }
  .mg_slider {
    height: 300px;
  }
  .mg_slider_info {
    left: 20px;
    bottom: 30px;
  }
  .mg_slider_actions {
    right: 20px;
    bottom: 30px;
  }
}
@media (max-width: 768px) {
  .mg_slider_indicators {
    gap: 5px;
    right: 20px;
    bottom: 20px;
  }
  .mg_slider_indicators div {
    border-radius: 2px;
    height: 8px;
  }
  .mg_slider_actions {
    bottom: unset;
    top: 20px;
  }
  .mg_slider_actions .mg_slider_icon {
    height: 36px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .mg_slider_actions .mg_slider_icon svg {
    height: 18px;
  }
  .mg_slider {
    height: 250px;
  }
  .mg_slider_info {
    bottom: 20px;
  }
  .mg_slider_info .mg_slider_genres {
    display: none;
  }
  .mg_slider_info .mg_slider_subtitle {
    letter-spacing: 0.5px;
    font-family: mmedium;
    font-size: 14px;
  }
  .mg_slider_info .mg_slider_title {
    color: var(--texthead);
    letter-spacing: 1px;
    font-size: 18px;
  }
  .mg_slider_info .mg_slider_imdb {
    color: #ffbb00;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .mg_cardslider,
  .mg_cardslider_wide {
    margin: 50px 0;
  }
  .mg_cardslider_wide {
    margin-top: 30px;
  }
}/*# sourceMappingURL=mg_slider.css.map */