.dev_badge {
  background-color: rgba(0, 235, 169, 0.1);
  color: rgb(0, 235, 169);
}

.info_result_desc {
  width: 100%;
  color: var(--textdesc);
  padding: 20px 0;
  text-align: center;
}

.admin_badge {
  background-color: rgba(236, 0, 59, 0.1);
  color: rgb(236, 0, 59);
}

.navinput {
  padding-left: 16px;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: var(--navbg);
  border-bottom: 2px solid transparent;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.navbar_home {
  position: fixed;
  z-index: 100;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-bottom: 2px solid transparent;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: background-color 0.5s, border-color 0.5s;
}
.navbar_home.navbar_scrolled {
  background-color: var(--navbg);
  border-bottom: 2px solid var(--main);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.no_results {
  text-align: center;
  padding: 15px;
  color: var(--textdesc);
  letter-spacing: 0.5px;
}

.navcont {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.navinputblock {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  width: 350px;
}

.navactions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navcats {
  font-family: msemibold;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--texthead);
}
.navcats a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.navcats a::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -10px;
  border-radius: 5px;
  width: 0%;
  transition: width 0.4s;
  box-shadow: 0 -8px 18px var(--main);
  background-color: var(--main);
}
.navcats a:hover:before {
  width: 100%;
}

.navwrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.navprofile {
  position: relative;
  height: 45px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  padding: 2px;
  margin-left: 10px;
}
.navprofile .navprofilebutton {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}
.navprofile .navprofilebutton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.login_error {
  width: 100%;
  padding: 20px 0;
  font-family: mregular;
  color: var(--texthead);
  letter-spacing: 0.5px;
  text-align: center;
}
.login_error a {
  font-family: mbold;
  font-weight: 600;
  color: var(--main);
}

.navprofileblock {
  padding: 15px;
  background-color: var(--secondbgcolor);
  width: 250px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 5;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.navprofileblock.navprofileblockshow {
  opacity: 1;
  visibility: visible;
}
.navprofileblock .navprofileblockactions {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 5px;
  flex-direction: column;
  gap: 12px;
}

.navblockaction {
  color: var(--whitenavblock);
  display: flex;
  font-family: mmedium;
  gap: 14px;
  letter-spacing: 0.5px;
  font-size: 15px;
}
.navblockaction svg {
  height: 20px;
  aspect-ratio: 1/1;
}

.navline {
  margin: 12px auto;
  height: 3px;
  width: 50px;
  border-radius: 5px;
  background-color: var(--white5);
}

.c_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: mmedium;
  letter-spacing: 0.5px;
}
.c_profile .c_profile_block {
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  background-color: var(--main);
}
.c_profile .c_profile_block svg {
  height: 20px;
  aspect-ratio: 1/1;
}
.c_profile .c_profile_name {
  font-size: 15px;
  color: var(--texthead);
}

.c_profile_badge {
  font-family: mbold;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 8px 25px;
  border-radius: 4px;
}

.navsign {
  height: 32px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--main);
  margin-top: 15px;
  color: var(--texthead);
  letter-spacing: 0.5px;
  transition: background-color 0.3s;
  transform: translateZ(0);
  font-size: 14px;
  font-family: msemibold;
  cursor: pointer;
}
.navsign:hover {
  background-color: var(--mainhover);
}

.navsignout {
  background-color: var(--mainclear);
  color: var(--main);
}
.navsignout:hover {
  background-color: var(--mainclearhover);
}

.navicons {
  height: 25px;
  cursor: pointer;
}
.navicons svg {
  height: 20px;
}
.navicons svg path {
  transition: 0.2s;
  fill: var(--iconlow);
}
.navicons:hover svg path {
  fill: var(--icon);
}
.navicons.navicons:nth-child(2) svg path {
  fill: unset;
  stroke: var(--iconlow);
}
.navicons.navicons:nth-child(2):hover svg path {
  fill: unset;
  stroke: var(--icon);
}

.navsearchform {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navinput {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s;
  color: var(--texthead);
  background-color: var(--white5);
  letter-spacing: 0.5px;
  font-family: mmedium;
}
.navinput:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
.navinput:focus {
  background-color: rgba(255, 255, 255, 0.09);
}

.badge_margin {
  margin-top: 10px;
}

.searchnavinput,
.nav_mb_search_close {
  position: absolute;
  height: 40px;
  aspect-ratio: 1/1;
  right: 0;
  background-color: var(--whiteclear);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.searchnavinput svg,
.nav_mb_search_close svg {
  height: 20px;
  aspect-ratio: 1/1;
}
.searchnavinput:hover,
.nav_mb_search_close:hover {
  background-color: var(--whiteclearhover);
}

.navlogo {
  color: var(--texthead);
  font-size: 16px;
  letter-spacing: 1px;
  gap: 1px;
  font-family: msemibold;
}
.navlogo span {
  color: var(--main);
}

.navsearch {
  will-change: visibility, opacity;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 450px;
  background-color: var(--secondbg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: visibility 0.3s, opacity 0.3s;
}
.navsearch.navsearchshow {
  opacity: 1;
  visibility: visible;
}

.mg_nav_card {
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--secondbg);
  padding: 10px;
  height: 200px;
  display: flex;
  font-family: mmedium;
  gap: 10px;
  align-items: starts;
}
.mg_nav_card:hover {
  background-color: var(--secondbghover);
}
.mg_nav_card .mg_nav_image {
  height: 100%;
}
.mg_nav_card .mg_nav_image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  min-width: 120px;
}
.mg_nav_card .mg_nav_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 5px 0;
  font-family: mmedium;
  color: var(--texthead);
  letter-spacing: 0.5px;
}
.mg_nav_card .mg_nav_info h3:nth-child(2) {
  color: var(--textdesc);
}
.mg_nav_card .mg_nav_info h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.mg_nav_card .mg_nav_info h3,
.mg_nav_card .mg_nav_info p {
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: mmedium;
}
.mg_nav_card .mg_nav_info .nav_card_imdb {
  font-family: mbold;
  color: var(--main);
  font-size: 14px;
}
.mg_nav_card .mg_nav_info .p_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: mmedium;
  margin-top: 15px;
  font-size: 14px;
}
.mg_nav_card .mg_nav_info .p_info span {
  color: var(--textdesc);
}
.mg_nav_card .mg_nav_info .info_bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.mg_nav_card .mg_nav_info .info_bottom .nav_card_type {
  height: 26px;
  width: 90px;
  border-radius: 5px;
  color: var(--texthead);
  background-color: var(--main);
  font-size: 13px;
}

.nav_mb {
  display: none;
  gap: 8px;
  align-items: center;
}
.nav_mb .nav_mb_button {
  height: 34px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: var(--white5);
  transition: background-color 0.2s;
}
.nav_mb .nav_mb_button:active {
  background-color: var(--white10);
}
.nav_mb .nav_mb_menu_opener {
  position: relative;
  z-index: 30;
  margin-left: 10px;
}
.nav_mb .nav_mb_menu_opener svg {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.nav_mb .nav_mb_menu_opener svg.getshow {
  visibility: visible;
  opacity: 1;
}

.mobile_nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100dvh;
  width: 100%;
  z-index: 20;
}
.mobile_nav .mobile_nav_shadow {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.mobile_nav_content {
  padding: 60px 20px;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  padding-bottom: 20px;
  background-color: var(--navbg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile_nav_content .c_profile .c_profile_name {
  font-size: 18px;
  font-family: msemibold;
}
.mobile_nav_content .c_profile_badge {
  letter-spacing: 1px;
  width: 100%;
  margin: 0;
  margin-top: 15px;
}
.mobile_nav_content .navline {
  margin: 25px auto;
}
.mobile_nav_content .mob_nav_actions_row {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 5px;
  flex-direction: column;
  gap: 20px;
}
.mobile_nav_content .navblockaction {
  font-family: mmedium;
  gap: 12px;
  letter-spacing: 0.5px;
  font-size: 17px;
}
.mobile_nav_content .navblockaction svg {
  height: 24px;
  aspect-ratio: 1/1;
}

.mob_nav_sign {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-size: 16px;
  transition: background-color 0.3s;
  color: var(--texthead);
  background-color: var(--main);
}
.mob_nav_sign:hover {
  background-color: var(--mainhover);
}
.mob_nav_sign.mob_nav_sign_out {
  color: var(--main);
  background-color: var(--mainclear);
}
.mob_nav_sign.mob_nav_sign_out:hover {
  background-color: var(--mainclearhover);
}

.mobile_swiper_container {
  display: none;
  font-feature-settings: "case";
  z-index: 101;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s;
}
.mobile_swiper_container.mobile_swiper_container_show .mobile_swiper_block_c {
  transform: translateY(0%);
}
.mobile_swiper_container .mobile_swiper_block_c {
  transform: translateY(100%);
}
.mobile_swiper_container.mobile_swiper_container_show {
  opacity: 1;
  visibility: visible;
}
.mobile_swiper_container .mobile_swiper_shadow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.mobile_swiper_container .mobile_swiper_block_c {
  position: absolute;
  overflow: hidden;
  pointer-events: auto;
  z-index: 2;
  background-color: var(--bodybg);
  width: 100%;
  bottom: 0;
  height: 80%;
  border-radius: 15px 15px 0px 0px;
  will-change: transform;
  transition: transform 0.3s, background-color 0.3s;
}
.mobile_swiper_container .mobile_swiper_block_c .mobile_swiper_block {
  width: 100%;
  height: 540px;
  max-height: 540px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--bodybg);
  padding: 20px;
}
.mobile_swiper_container .mobile_swiper_block_c .mobile_swiper_block::-webkit-scrollbar {
  display: none;
}
.mobile_swiper_container .mobile_swiper_block_c .mobile_swiper_block h2 {
  font-family: mmedium;
  font-weight: 300;
  color: var(--texthead);
  letter-spacing: 0.5px;
  font-size: 16px;
}
.mobile_swiper_container .mobile_swiper_block_c .mobile_swiper_addon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.mobile_swiper_container .mobile_swiper_block_c .mobile_swiper_addon .mobile_swiper_line {
  height: 4px;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--white10);
}

.notify_container {
  padding: 0 15px;
}

.themes_notify {
  display: flex;
  flex-direction: column;
  gap: 8px;
  letter-spacing: 0.5px;
  font-family: mmedium;
}
.themes_notify h2 {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: var(--texthead);
}
.themes_notify h2 span {
  color: var(--main);
}
.themes_notify p {
  text-align: center;
  font-size: 15px;
  color: var(--textdesc);
  margin-top: 10px;
}
.themes_notify .themes_show_room {
  margin-top: 20px;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--black20);
}
.themes_notify .themes_show_room svg {
  height: 100%;
  width: 100%;
}

.mobile_swiper_content {
  overflow-y: auto;
  height: calc(100% - 50px);
}
.mobile_swiper_content::-webkit-scrollbar {
  display: none;
}

.notify_choose_colors,
.notify_choose_themes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.notify_choose_colors .n_selection,
.notify_choose_themes .n_selection {
  cursor: pointer;
  height: 36px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
.notify_choose_colors .n_selected,
.notify_choose_themes .n_selected {
  outline: 2px solid var(--texthead);
}

.notify_choose_color {
  margin-top: 20px;
}
.notify_choose_color p {
  font-size: 16px;
  color: var(--texthead);
}

.see_more_notify {
  height: 36px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.03);
  color: var(--texthead);
  margin-top: 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.2s;
}
.see_more_notify:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1200px) {
  .navcats {
    display: none;
  }
}
@media (max-width: 850px) {
  .mobile_nav {
    pointer-events: none;
    overflow-x: hidden;
    display: block;
    will-change: visibility;
    transform: visibility 0.3s;
  }
  .mobile_nav .mobile_nav_shadow {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .mobile_nav .mobile_nav_content {
    will-change: transform;
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  .mobile_nav.mobile_nav_show {
    pointer-events: all;
    transform: translateX(0);
  }
  .mobile_nav.mobile_nav_show .mobile_nav_shadow {
    opacity: 1;
  }
  .mobile_nav.mobile_nav_show .mobile_nav_content {
    transform: translateX(0);
  }
  .nav_pc {
    display: none;
  }
  .nav_mb {
    display: flex;
  }
  .navbar {
    height: 60px;
    padding: 0 5px;
  }
  .navinputblock {
    transform: translateY(-120%);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 50px;
    border-radius: 0px;
    z-index: 31;
    will-change: transform;
    transition: transform 0.3s;
  }
  .navinputblock .navsearchshadow {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .navinputblock.navinputblockshow {
    transform: translateY(0);
  }
  .navinputblock.navinputblockshow .navsearchshadow {
    opacity: 1;
    visibility: visible;
  }
  .navinputblock .navinput {
    border-radius: 0px;
    background-color: var(--navbg);
  }
  .navinputblock .searchnavinput,
  .navinputblock .nav_mb_search_close {
    position: relative;
    border-radius: 0px;
    height: 100%;
  }
  .navinputblock .searchnavinput svg,
  .navinputblock .nav_mb_search_close svg {
    height: 20px;
  }
  .navinputblock .searchnavinput {
    background-color: var(--main);
  }
  .navinputblock .searchnavinput:hover {
    background-color: var(--mainhover);
  }
  .navinputblock .nav_mb_search_close {
    background-color: var(--bodybg);
  }
  .navinputblock .nav_mb_search_close:active {
    filter: brightness(1.1);
  }
  .navsearch {
    box-shadow: unset;
    border-radius: 0px;
    top: 50px;
    height: auto;
    max-height: 700px;
    min-height: 50px;
  }
  .navc {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .mobile_swiper_container {
    display: block;
  }
}/*# sourceMappingURL=nav.css.map */