.dev_badge {
  background-color: rgba(0, 235, 169, 0.1);
  color: rgb(0, 235, 169);
}
.info_result_desc {
  width: 100%;
  color: var(--textdesc);
  padding: 20px 0;
  text-align: center;
}
.admin_badge {
  background-color: rgba(236, 0, 59, 0.1);
  color: rgba(236, 0, 59);
}
.navinput {
  padding-left: 16px;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--navbg);
  border-bottom: 2px solid var(--main);
  backface-visibility: hidden;
  transform: translateZ(0);
}
.no_results {
  text-align: center;
  padding: 15px;
  color: var(--textdesc);
  letter-spacing: 0.5px;
}

.navcont {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}
.navinputblock {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  width: 350px;
}
.navactions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navcats {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--texthead);
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      height: 2px;
      bottom: -10px;
      border-radius: 5px;
      width: 0%;
      transition: width 0.4s;
      box-shadow: 0 -8px 18px var(--main);
      background-color: var(--main);
    }
    &:hover:before {
      width: 100%;
    }
  }
}
.navwrap {
  display: flex;
  align-items: center;
  gap: 18px;
}
.navprofile {
  position: relative;
  height: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  border: 2px solid var(--main);
  padding: 2px;
  margin-left: 10px;
  .navprofilebutton {
    user-select: none;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: rgb(255, 255, 255, 0.15);
    }
  }
}

.navprofileblock {
  padding: 20px;
  background-color: var(--secondbgcolor);
  width: 300px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 5;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  &.navprofileblockshow {
    opacity: 1;
    visibility: visible;
  }

  .navprofileblockactions {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 5px;
    flex-direction: column;
    gap: 16px;
  }
}
.navblockaction {
  color: var(--whitenavblock);
  display: flex;
  font-family: mmedium;
  gap: 10px;
  letter-spacing: 0.5px;
  font-size: 16px;
  svg {
    height: 22px;
    aspect-ratio: 1/1;
  }
}
.navline {
  margin: 15px auto;
  height: 4px;
  width: 50px;
  border-radius: 5px;
  background-color: var(--main);
}
.c_profile {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: mmedium;
  letter-spacing: 0.5px;
  .c_profile_block {
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: var(--main);
  }
  .c_profile_name {
    color: var(--texthead);
  }
}
.c_profile_badge {
  font-family: mbold;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 8px;
}
.navsign {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--main);
  margin-top: 20px;
  color: var(--texthead);
  letter-spacing: 0.5px;
  transition: background-color 0.3s;
  transform: translateZ(0);
  cursor: pointer;
  &:hover {
    background-color: var(--mainhover);
  }
}
.navsignout {
  background-color: var(--mainclear);
  color: var(--main);
  &:hover {
    background-color: var(--mainclearhover);
  }
}
.navicons {
  height: 25px;
  cursor: pointer;
  svg {
    height: 22px;
  }
  svg path {
    transition: 0.2s;
    fill: var(--iconlow);
  }
  &:hover svg path {
    fill: var(--icon);
  }
  &.navicons:nth-child(2) {
    svg path {
      fill: unset;
      stroke: var(--iconlow);
    }
    &:hover svg path {
      fill: unset;
      stroke: var(--icon);
    }
  }
}
.navsearchform {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navinput {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s;
  color: var(--texthead);
  background-color: var(--inputnav);
  letter-spacing: 0.5px;
  font-family: msemibold;
  &:hover {
    background-color: var(--inputnavbghover);
  }
  &:focus {
    background-color: var(--inputnavbgactive);
  }
}
.badge_margin {
  margin-top: 10px;
}
.searchnavinput,
.nav_mb_search_close {
  position: absolute;
  height: 40px;
  aspect-ratio: 1/1;
  right: 0;
  background-color: var(--main);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  svg {
    height: 20px;
    aspect-ratio: 1/1;
  }
  &:hover {
    background-color: var(--mainhover);
  }
}
.navlogo {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  background-color: var(--main);
  color: var(--texthead);
  font-size: 24px;
}
.navsearch {
  will-change: visibility, opacity;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 450px;
  background-color: var(--secondbg);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: visibility 0.3s, opacity 0.3s;
  &.navsearchshow {
    opacity: 1;
    visibility: visible;
  }
}
.mg_nav_card {
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--secondbg);
  padding: 10px;
  height: 200px;
  display: flex;
  gap: 10px;
  align-items: starts;
  &:hover {
    background-color: var(--secondbghover);
  }
  .mg_nav_image {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      min-width: 120px;
    }
  }
  .mg_nav_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 5px 0;
    color: var(--texthead);
    letter-spacing: 0.5px;
    h3:nth-child(2) {
      color: var(--textdesc);
    }
    h3 {
      font-size: 16px;
      line-height: 20px;
    }
    h3,
    p {
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
    .nav_card_imdb {
      font-family: mbold;
      color: var(--main);
      font-size: 14px;
    }
    .p_info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-family: mmedium;
      margin-top: 15px;
      font-size: 14px;
      span {
        color: var(--textdesc);
      }
    }
    .info_bottom {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      .nav_card_type {
        height: 26px;
        width: 90px;
        border-radius: 5px;
        color: var(--texthead);
        background-color: var(--main);
        font-size: 13px;
      }
    }
  }
}
.nav_mb {
  display: none;
  gap: 10px;
  align-items: center;
  .nav_mb_button {
    height: 36px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: var(--iconbg);
    transition: background-color 0.2s;
    &:active {
      background-color: var(--iconbghover);
    }
  }
  .nav_mb_menu_opener {
    position: relative;
    z-index: 30;
    margin-left: 10px;
    svg {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      &.getshow {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.mobile_nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  .mobile_nav_shadow {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.mobile_nav_content {
  padding: 60px 20px;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  padding-bottom: 20px;
  background-color: var(--navbg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .c_profile {
    .c_profile_name {
      font-size: 18px;
      font-family: msemibold;
    }
  }
  .c_profile_badge {
    letter-spacing: 1px;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }

  .navline {
    margin: 25px auto;
  }
  .mob_nav_actions_row {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 5px;
    flex-direction: column;
    gap: 20px;
  }
  .navblockaction {
    font-family: mmedium;
    gap: 12px;
    letter-spacing: 0.5px;
    font-size: 17px;
    svg {
      height: 24px;
      aspect-ratio: 1/1;
    }
  }
}
.mob_nav_sign {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-size: 16px;
  transition: background-color 0.3s;
  &.mob_nav_sign_out {
    color: var(--main);
    background-color: var(--mainclear);
    &:hover {
      background-color: var(--mainclearhover);
    }
  }
  &.mob_nav_sign_in {
    color: var(--texthead);
    background-color: var(--main);
    &:hover {
      background-color: var(--mainhover);
    }
  }
}
@media (max-width: 1200px) {
  .navcats {
    display: none;
  }
}
@media (max-width: 850px) {
  .mobile_nav {
    pointer-events: none;
    overflow-x: hidden;
    display: block;
    will-change: visibility;
    transform: visibility 0.3s;
    .mobile_nav_shadow {
      opacity: 0;
      transition: opacity 0.3s;
    }
    .mobile_nav_content {
      will-change: transform;
      transform: translateX(100%);
      transition: transform 0.3s;
    }

    &.mobile_nav_show {
      pointer-events: all;

      transform: translateX(0);
      .mobile_nav_shadow {
        opacity: 1;
      }
      .mobile_nav_content {
        transform: translateX(0);
      }
    }
  }
  .navlogo {
    font-size: 20px;
    height: 36px;
  }
  .nav_pc {
    display: none;
  }
  .nav_mb {
    display: flex;
  }
  .navbar {
    height: 60px;
  }
  .navinputblock {
    transform: translateY(-100%);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 50px;
    border-radius: 0px;
    z-index: 31;
    will-change: transform;
    transition: transform 0.3s;
    .navsearchshadow {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100vh;
      width: 100%;
      z-index: -1;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &.navinputblockshow {
      transform: translateY(0);
      .navsearchshadow {
        opacity: 1;
        visibility: visible;
      }
    }
    .navinput {
      border-radius: 0px;
    }
    .searchnavinput,
    .nav_mb_search_close {
      position: relative;
      border-radius: 0px;

      height: 100%;
      svg {
        height: 20px;
      }
    }
    .nav_mb_search_close {
      background-color: var(--iconbg);
      &:active {
        background-color: var(--iconbghover);
      }
    }
  }
  .navsearch {
    box-shadow: unset;
    border-radius: 0px;
    top: 50px;
    height: auto;
    max-height: 700px;
    min-height: 50px;
  }
  .navc {
    width: 100%;
  }
}
