.navinput {
  padding-left: 16px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--navbg);
  height: var(--navheight);
  z-index: 9;
  border-bottom: 2px solid var(--main);
}

.navcont {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.navinputblock {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  width: 350px;
}

.navactions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navcats {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--texthead);
}
.navcats p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.navcats p::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -10px;
  border-radius: 5px;
  width: 0%;
  transition: width 0.4s;
  box-shadow: 0 -8px 18px var(--main);
  background-color: var(--main);
}
.navcats p:hover:before {
  width: 100%;
}

.navwrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.navprofile {
  position: relative;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  border: 2px solid var(--main);
  padding: 2px;
  margin-left: 10px;
}
.navprofile .navprofilebutton {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(51, 51, 51, 0.5);
  transition: background-color 0.2s;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.navprofile .navprofilebutton:hover {
  background-color: #272727;
}

.navprofileblock {
  padding: 20px;
  background-color: var(--secondbgcolor);
  width: 300px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 5;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.navprofileblock.navprofileblockshow {
  opacity: 1;
  visibility: visible;
}
.navprofileblock .navline {
  margin: 15px auto;
  height: 4px;
  width: 50px;
  border-radius: 5px;
  background-color: var(--main);
}
.navprofileblock .navprofileblockactions {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 5px;
  flex-direction: column;
  gap: 15px;
}
.navprofileblock .navblockaction {
  color: var(--whitenavblock);
  display: flex;
  font-family: mmedium;
  gap: 10px;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.navprofileblock .navblockaction svg {
  height: 22px;
  aspect-ratio: 1/1;
}
.navprofileblock .c_profile {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: mmedium;
  letter-spacing: 0.5px;
}
.navprofileblock .c_profile .c_profile_block {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: var(--main);
}
.navprofileblock .c_profile .c_profile_name {
  color: var(--texthead);
}

.navsign {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--main);
  margin-top: 15px;
  color: var(--texthead);
  letter-spacing: 0.5px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.navsign:hover {
  background-color: var(--mainhover);
}

.navicons {
  height: 25px;
  cursor: pointer;
}
.navicons svg {
  height: 22px;
}

.navinput {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s;
  color: var(--texthead);
  background-color: var(--inputnav);
  letter-spacing: 0.5px;
  font-family: msemibold;
}
.navinput:hover {
  background-color: var(--inputnavbghover);
}
.navinput:focus {
  background-color: var(--inputnavbgactive);
}

.searchnavinput {
  position: absolute;
  height: 40px;
  aspect-ratio: 1/1;
  right: 0;
  background-color: var(--main);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.searchnavinput:hover {
  background-color: var(--mainhover);
}

.navlogo {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  background-color: var(--main);
  color: var(--texthead);
  text-align: 24px;
}/*# sourceMappingURL=nav.css.map */