.content_manager {
  display: flex;
  align-items: start;
  height: calc(100% - var(--navheight));
}
.sidebar {
  background-color: var(--sidebar);
  flex: 0 0 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  padding: 30px 0px;
}
.setting {
  position: relative;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  letter-spacing: 0.5px;
  width: 100%;

  p {
    color: var(--textdesc);
    font-family: mmedium;
    cursor: pointer;
  }
  .settingstarter {
    position: relative;
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--texthead);
    font-family: msemibold;
  }
  &::after {
    position: absolute;
    content: "";
    height: 0px;
    width: 3px;
    background-color: var(--main);
    right: 0;
    border-radius: 4px 0px 0px 4px;
    transition: opacity 0.4s, height 0.2s;
    opacity: 0;
  }
  &:hover:after {
    height: 40px;
    opacity: 1;
  }
}
.activesetting::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 3px;
  background-color: var(--main);
  right: 0;
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
}
.settings_content {
  flex: 1 1 auto;
  padding: 30px;
  h2 {
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--texthead);
  }
  .interface_blocks {
    padding: 20px;
    margin-top: 50px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    .interface_block {
      width: 400px;
      height: 200px;
      background-color: var(--sidebar);
      box-shadow: 0 0 40px var(--mainshadow);
      outline: solid 2px var(--main);
      border-radius: 20px;
      padding: 15px;
      p {
        color: var(--texthead);
        font-size: 18px;
        letter-spacing: 0.5px;
      }
      .select_row {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        .selection {
          cursor: pointer;
          height: 55px;
          aspect-ratio: 1/1;
          border-radius: 10px;
        }
        .selected {
          outline: 3px solid var(--texthead);
        }
      }
    }
  }
}
.starter_content {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
}
.mobile_back {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  color: var(--texthead);
  background-color: var(--input);
  display: none;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  &:active {
    background-color: var(--inputhover);
  }
}
@media (max-width: 860px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    will-change: transform;
    transform: translateX(0);
    transition: transform 0.3s;
    &.sidebar_hide {
      transform: translateX(-100%);
    }
  }
  .mobile_back {
    display: flex;
  }
  .settings_content {
    padding: 20px 15px;
    h2 {
      text-align: center;
      width: 100%;
      font-size: 24px;
    }
    .interface_blocks {
      padding: 0px 2px;
      margin-top: 30px;
      justify-content: center;
      gap: 20px;
      .interface_block {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
    }
  }
}
