.animes_decor {
  margin-top: 60px;
  --decorColor: #ea00bf;
  --main: #ea00bf;
  --decorBgColor: #47003a;
}
.animes_row {
  position: relative;
  padding: 30px 0;
  width: 100%;
  .decor_bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.2);
    height: 100%;
    width: 100%;
  }
  .mg_cardslider {
    margin: 0;
  }
}
.genre_card {
  height: 160px;
  width: 330px;
  min-width: 330px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  cursor: pointer;
  &:hover .darken {
    background-color: rgba(0, 0, 0, 0.65);
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  p {
    position: absolute;
    z-index: 3;
    color: var(--texthead);
    font-size: 18px;
    letter-spacing: 1px;
  }
}
.darken {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.2s;
}

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  .head_starter {
    justify-content: center;

    p {
      text-align: center;
      &::before {
        left: unset;
      }
    }
  }
}
.head_starter {
  display: flex;
  justify-content: start;
  font-feature-settings: "case";
  p {
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-align: start;
    gap: 12px;
    color: var(--texthead);
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: "";
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background-color: var(--main);
      bottom: 0;
      left: 0;
    }
  }
}
.categories_row {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.category_card {
  height: 130px;
  width: 350px;
  min-width: 330px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--secondblack);
  transition: background-color 0.2s;
  .category_icon {
    transform: translateY(-15px);
  }
  &:hover {
    background-color: var(--secondblackhover);
  }
  p {
    position: absolute;
    font-feature-settings: "case";
    bottom: 20px;
    z-index: 3;
    color: var(--texthead);
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.news {
  padding: 50px 0;
  margin: 70px 0;
  width: 100%;
  background: linear-gradient(to right, #171717, #1f000a, #171717);
}
.news_row {
  margin-top: 15px;
  --news-gap: 10px;
  display: flex;
  width: 100%;
  height: 400px;
  gap: var(--news-gap);
}
.news_row_col {
  gap: var(--news-gap);

  flex: 2.5;
  display: flex;
  flex-direction: column;
}
.news_row_center {
  display: flex;

  flex: 4;
}
.news_card {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: var(--black20);
  overflow: hidden;
  .news_card_info {
    position: absolute;
    z-index: 3;
    font-feature-settings: "case";
    p {
      letter-spacing: 0.5px;
      color: var(--texthead);
    }
    p:nth-child(2) {
      color: var(--textdesc);
    }
  }

  img {
    height: 100%;
    width: 100%;
    will-change: transform;
    position: absolute;
    object-fit: cover;
    border-radius: 6px;
  }
  &:hover {
    .news_shadow {
      opacity: 0.85;
    }
  }
  &.right_shadow {
    .news_shadow {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.3)
      );
    }
    .news_card_info {
      bottom: 12px;
      right: 12px;
      text-align: end;
    }
  }
  &.left_shadow {
    .news_shadow {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.3)
      );
    }
    .news_card_info {
      bottom: 12px;
      left: 12px;
    }
  }
  &.bottom_shadow {
    .news_shadow {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.3)
      );
    }
    .news_card_info {
      bottom: 12px;
      text-align: center;
    }
  }
  .news_shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s;
  }
}
